@{
    ViewBag.Title = "Faceplant - Home";
}

<nav id="sub">
    <ul class="tabbed">
		<li class="current-tab"><a href="#">Create a Session</a></li>
		<li><a href="#">Find a Session</a></li>
		<li><a href="#">Popular Sessions</a></li>
		<li><a href="#">Find a Speaker</a></li>
		<li><a href="#">Popular Speakers</a></li>
		<li><a href="#">Why Join?</a></li>		
	</ul>

	<div class="clearer">&nbsp;</div>
</nav>

<div id="splash">

	<section class="col3 left">
			
		<h2 class="label label-green">Mission Statement</h2>

		<p class="quiet large">Connecting you with your attendees, one talk at a time</p>

		<p>Vestibulum eu pellentesque ante. Sed tincidunt quam eu nisl luctus id mattis tellus rhoncus.</p>
		<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Donec dapibus eros vitae nibh venenatis faucibus.</p>
		<p><a href="#" class="more">Learn more &raquo;</a></p>

	</section>

	<section class="col3-mid left">
			
		<h2 class="label label-orange">Next Session</h2>

		<p class="quiet large">Friday, August 18, 2011</p>

		<p><img src="@Url.Content("~/Content/img/sample-event.jpg")" width="240" height="80" alt="" class="bordered" /></p>
		<p><em>Aliquam augue neque, rhoncus et dictum in, cursus eget mauris.</em></p>

	</section>

	<section class="col3 right">
			
		<h2 class="label label-blue">Follow Us</h2>

		<p class="quiet large">http://twitter.com/faceplantapp</p>

		<p>Nulla mollis sollicitudin nulla et mattis.<span class="quiet">(2 hours ago)</span></p>
		<p>Torquent per conubia nostra, per inceptos himenaeos. <span class="quiet">(2 hours ago)</span></p>
		<p>In sed ante at velit hendrerit blandit a et nibh. Cras sed cursus nulla. <span class="quiet">(3 hours ago)</span></p>
		<p>Nullam vitae mi at nulla blandit. <span class="quiet">(5 hours ago)</span></p>

	</section>

	<div class="clearer">&nbsp;</div>
    
    <article id="two-columns">

		<div class="left" id="main-content">

			<div class="section">

				<div class="section-title">Blog</div>

				<div class="section-content">

					<div class="post">

						<div class="post-title"><h2><a href="#">Template Information</a></h2></div>

						<div class="post-date">Saturday, September 19, 2009 by Viktor Persson</div>

						<div class="post-body">

							<p><a href="#"><img src="@Url.Content("~/Content/img/sample-image.jpg")" alt="" class="bordered" /></a></p>

							<p class="large">This is a free website template by <a href="http://arcsin.se/">Arcsin</a>, built using tableless XHTML and CSS.</p>
										
							<p>This template is distributed under a <a href="http://templates.arcsin.se/license/">Creative Commons Attribution 2.5 License</a>, which allows you to use and modify it for any purpose (personal and commercial), under the condition that you keep the provided credit links in the footer.</p>

							<p>The latest template version and CMS conversions for platforms such as WordPress and Blogger can be found at the official <a href="http://templates.arcsin.se/simple-organization-website-template/">Simple Organization Website Template</a> page.</p>

							<p>For more templates, questions and comments please visit <a href="http://templates.arcsin.se/">Arcsin Web Templates</a>.</p>

							<a href="http://templates.arcsin.se/" class="more">Read more &#187;</a>

						</div>
					
					</div>

					<div class="content-separator"></div>

					<div class="col3 left">
						<div class="column-content">

							<div class="post">
								<h3><a href="#">Article title</a></h3>
								<p>Integer diam elit, condi mentum ac semper ut, tincidunt non diam. Ut congue at commodo aenean euismod tincidunt lorem euismod.</p>
								<a href="#" class="more">Read more &#187;</a>
							</div>

						</div>
					</div>

					<div class="col3 col3-mid left">
						<div class="column-content">

							<div class="post">
								<h3><a href="#">Second Article Title</a></h3>
								<p>Sed congue lacinia leo, sed dignissim odio pharetra vel. Fusce a dignissim dui. Fusce semper porttitor enim dapibus venenatis.</p>
								<a href="#" class="more">Read more &#187;</a>
							</div>

						</div>
					</div>

					<div class="col3 right">
						<div class="column-content">

							<div class="post">
								<h3><a href="#">Third title</a></h3>
								<p>Sed auctor hendrerit eros eu eleifend. Cras hendrerit iaculis sodales. Pellentesque interdum rhoncus magna.</p>
								<a href="#" class="more">Read more &#187;</a>
							</div>

						</div>
					</div>

					<div class="clearer">&nbsp;</div>

				</div>

			</div>

			<div class="clearer">&nbsp;</div>
			
		</div>
        
		<div class="right sidebar" id="sidebar">

			<div class="section">

				<div class="section-title">Search</div>

				<div class="section-content">
					<form method="post" action="">
						<input type="text" class="text" size="28" /> &nbsp; <input type="submit" class="button" value="Submit" />
					</form>
				</div>

			</div>

			<div class="section">

				<div class="section-title">Recent Entries</div>

				<div class="section-content">

					<ul class="nice-list">
						<li>
							<div class="left"><a href="#">Aenean tempor arcu..</a></div>
							<div class="right">Oct 12</div>
							<div class="clearer">&nbsp;</div>
						</li>
						<li>
							<div class="left"><a href="#">Justo interdum rutrum</a></div>
							<div class="right">Sep 15</div>
							<div class="clearer">&nbsp;</div>
						</li>
						<li>
							<div class="left"><a href="#">In nec justo in urna</a></div>
							<div class="right">Sep 12</div>
							<div class="clearer">&nbsp;</div>
						</li>
						<li>
							<div class="left"><a href="#">Accumsan condimentum</a></div>
							<div class="right">Sep 6</div>
							<div class="clearer">&nbsp;</div>
						</li>
						<li>
							<div class="left"><a href="#">Etiam commodo bibendum</a></div>
							<div class="right">Aug 27</div>
							<div class="clearer">&nbsp;</div>
						</li>
						<li>
							<div class="left"><a href="#">Mauris euismod justo</a></div>
							<div class="right">Aug 21</div>
							<div class="clearer">&nbsp;</div>
						</li>
						<li><a href="#" class="more">Browse Archives &#187;</a></li>
					</ul>

				</div>

			</div>

			<div class="section">

				<div class="section-title">Board of Members</div>

				<div class="section-content">

					<ul class="nice-list">
						<li><a href="#">Elem Semper</a> <span class="quiet">- Director</span></li>
						<li><a href="#">Porttitor Urna</a> <span class="quiet">- Lead Writer</span></li>
						<li><a href="#">Congue Porttitor</a> <span class="quiet">- Editor</span></li>
						<li><a href="#">Etiam Blandit</a> <span class="quiet">- Writer</span></li>
						<li><a href="#">Diet Tesque</a> <span class="quiet">- Writer</span></li>
					</ul>
					
				</div>

			</div>

			<div class="section">

				<div class="section-title">Topics</div>

				<div class="section-content">
					<div class="quiet">
						<a href="#" style="font-size: 120%">vestibulum</a> <a href="#" style="font-size: 120%">ante</a> <a href="#" style="font-size: 150%">ipsum</a> <a href="#" style="font-size: 120%">faucibus</a> <a href="#" style="font-size: 90%">orci luctus</a> <a href="#" style="font-size: 80%">ultrices</a> <a href="#" style="font-size: 220%">posuere cubilia</a> <a href="#" style="font-size: 100%">curae</a> <a href="#" style="font-size: 110%">quisque</a> <a href="#" style="font-size: 150%">ut arcu</a> <a href="#" style="font-size: 140%">eros</a> <a href="#" style="font-size: 100%">vestibulum</a> <a href="#" style="font-size: 90%">dapibus</a> <a href="#" style="font-size: 120%">volutpat</a> <a href="#" style="font-size: 200%">elementum</a> 
					</div>
				</div>
			
			</div>

		</div>

		<div class="clearer">&nbsp;</div>

	</article>
</div>