@{
    LayoutPage = "~/_Layout.cshtml";
    PageData["Title"] = "Order Succeeded!";

    if (!IsPost) {
        Response.Redirect("~/Products");
    }
    
    var productId = Int32.Parse(Request["ProductId"]);
    var name = Request["orderName"];
    var quantity = Int32.Parse(Request["orderQty"]);
    var orderShipping = Request["orderShipping"];
    var customerEmail = Request["orderEmail"];    
    
    var db = Database.Open("SiliconBakeryDB");
    var product = db.QuerySingle("SELECT * FROM Product WHERE ID = @0", productId);
}

<div class="receipt">
    <h2>Thank you for your order</h2>
    
    <p>Thank you, we have received your order for @quantity unit(s) of @product.Name!<br/>
    
    @if(!orderShipping.IsEmpty()) {
        var formattedOrder = orderShipping.Replace("\r\n", "<br/>");
        <p>Your address is: <br/>
        @formattedOrder <br/></p>
    }
    
    <p>Your total is $@(product.Price * quantity)<br/>
        We will contact you if we have questions about your order.  Thanks!</p>
    
</div>
