<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <!-- Video -->
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <mimeMap fileExtension=".webm" mimeType="video/webm"/>
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>