<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Sample URL created using below three parameters will be "ws://localhost:4502/wsdemogame"-->
    <!-- Corresponding values of these three parameters should be same in GameClient/wsdemo.html-->
    <add key="MachineName" value="localhost"></add>
    <add key="PortNumber" value="4502"></add>
    <add key="AppName" value ="wsdemogame"></add>
    
    <!-- Adding verbose mode if it is "true" -->
    <add key ="LogMessage" value = "false"/>
  </appSettings>
</configuration>